* {
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  margin:2%; 
  height: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.side-bar{
  text-align: center;
}
.side-bar p{
 line-height: 10px;
}

.side-bar img{
  width: 100%;
  height: 40%;
  margin-top: -86%;
}
.rela-block {
  display: block;
  position: relative;
  margin: auto;
}
.rela-inline {
  display: inline-block;
  position: relative;
  margin: auto;
}
.floated {
  display: inline-block;
  position: relative;
  float: left;
}
.caps {
  text-transform: uppercase;
}
.page {
  width: 100%;  
  background-color: #fff;
  box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.4);
}
.top-bar {
  height: 220px;
  background-color: #1E90FF;
  color: #fff;
  border-radius: 100px 0px;
}
.name {
  position: absolute;
  left: 450px;
  right: 0;
  bottom: 0;
  height: 120px;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  line-height: 40px;

}
.name div {
  width: 94%;
}
.side-bar {
  display: false;
  position: absolute;
  margin: false;
  top: 0px;
  left: 0px;
  right: false;
  bottom: 0;
  width: 400px;
  background-color: #00FFFF ;
  padding: 320px 30px 50px;
  border-radius: 0px 100px;
}
.side-header {
   
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 600;
  line-height: 28px;
  margin: 60px auto 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}
.long-margin{
  text-indent: 50px;
  text-align: justify;
}
.list-thing {
  padding-left: 25px;
  margin-bottom: 10px;
}
.content-container {
  margin-right: 0;
  width: calc(95% - 350px);
  padding: 25px 40px 50px;
}
.content-container > * {
  margin: 0 auto 25px;
}
.title {
  width: 80%;
  text-align: center;
}
.greyed {
  background-color: #00FFFF ;
  width: 100%;
  text-align: center;
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 600;
  line-height: 60px;
  border-radius: 50px 20px;
}
.edu{
  border: 2px solid #888;

}
.edu td{
  text-align: center;
  font-size: 14px;
}
@media screen and (max-width: 1150px) {
  .name {
    color: #000;
    font-size: 38px;
    font-weight: 100;
    letter-spacing: 6px;
    line-height: 48px;
  }
}
